{% for list in data_list %}
	<div class="row" style="background-color: lightgray">
		<div class="col-xs-2 col-sm-2 col-lg-2 table-bordered">{{ list.getInvoiceNum() }}</div>
		<div class="col-xs-2 col-sm-2 col-lg-2 table-bordered">{{ list.getInvoiceDate()|date('Y-m-d') }}</div>
		<div class="col-xs-1 col-sm-2 col-lg-1 table-bordered">{{ list.getQty() }}</div>
		<div class="col-xs-4 col-sm-2 col-lg-4 table-bordered">{{ list.getProductDescription() }}</div>
		<div class="col-xs-2 col-sm-2 col-lg-2 table-bordered">{{ list.getPrice() }}</div>
		<div class="col-xs-1 col-sm-2 col-lg-1 table-bordered">{{ list.getQty() * list.getPrice() }}</div>
	</div>
{% endfor %}
<div class="pagination pull-right" style="margin-top: 15px">
	{{ knp_pagination_render(data_list) }}
</div>
<script>
	{% if (client_id != 0) %}
		{% for prod in data_products %}
			jQuery("#product_list").append("<li><a href='javascript:void(0)' onClick='ChangeDropDown(this)' id='{{ prod.getProductId() }}@product'>{{ prod.getProductDescription() }}</a></li>");
		{% endfor %}
	{% endif %}
</script>